<!DOCTYPE html>
<html>
<head>
    {% include '/sections/meta.html' %}
    <title></title>
    {% include '/sections/includes.html' %}
</head>
<body>
    {% include '/sections/navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>Internal Server Error. Not wow..</h1>
                <img class="img img-responsive img-rounded center-block" src="{{ url_for('static', filename='img/sad_doge.jpg') }}"/>
                <h2>There was an error...</h2>
                <h3>What you were looking for is just not there.</h3>
                <a href="{{ url_for('index') }}" class="btn btn-success">Go Home</a>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
</body>
</html>